extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col-md-8")
				h1= title
		div(class="row move-down")
			div(class="col-md-8")
				a(href="/", class="btn btn-primary", role="button")
					span(class="glyphicon glyphicon-list")
					|  Grįžti
		div(class="row move-down")
			center
				h1 Arduino oro stebėjimo stotelė
				h3
					| Stotelės moduliai:
    				| * Oro drėgmės,
    				| * Oro temperatūros,
    				| * Oro barometrinio slėgio,
    				| * Indikaciniai led'ai.
    				| Arduino siunčia oro sąlygų duomenis į Node serverį kuriame būtų saugomi visų stebėjimų duomenys. Arduino, indikacinių led'ų pagalba atvaizduoja, oro temperatūros reikšmes spalvomis (raudona, žalia.. ) Arduino gali priimti siunčiamas užklausas, taip nustatomos reikšmės pagal kurias atvaizduojama spalvomis. Android - Web serverio klientas gauna oro stebėjimų duomenis, juos atvaizduoja,  gali siųsti užklausas į serverį taip nustatant indikacinių led'ų ribas.  Node - serveris skirtas kaip tarpinė jungtis tarp Arduino ir Androido, saugo iš Arduino gautus duomenis, nustato (siunčia HTTP užklausas) Arduino indikacinių led'ų ribų nustatymui, pateikia stebėjimų duomenis Androidui, gauna iš jo nustatymų pakeitimus.
  				br
				h3	Darbą atliko:
				h3
    				| Erikas Sniečkus IFC-7
    				| Tadas Semionovas IFC-7
    				| Nedas Žilovas IFC-7




			