extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col-md-8")
				h1= title
		div(class="row move-down")
			div(class="col-md-8")
				a(href="/", class="btn btn-primary", role="button")
					span(class="glyphicon glyphicon-list")
					|  Grįžti
		div(class="row move-down")
			h1   Arduino stebėjimo stotelė



			